   <body style =>
     <link href="css/styles.css" rel="stylesheet">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="bg-color = light-blue">

    <main role="main" class="inner cover">
        <img src="img/logo.png" width="160" height="130" alt=""><br><br>
        <h1 class="cover-heading">Welcome to College Database Management System, {{name}}</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat debitis architecto
            nesciunt ipsum. Assumenda mollitia odio eligendi quae, impedit dicta recusandae a corrupti error voluptate,
            minima iste. Tempore, repellat.</p>
        
        <p class="lead">

          <div class="form-group">
   
     <form class = 'card p-3 bg-light' action="/" method="POST">
    <div class="form-group row">
      <input type="text" class="form-control col-3" style="width: 40%; align:center" name="username"  placeholder="Username" required>
    </div>
  <div class="form-group row">
    <input type="password" class="form-control col-6" style="width: 40% ; align:center" id="password" name="password" placeholder="password"  required>
  </div>
    <button class="btn btn-primary btn-sm" style="width: 40% " type="submit">Sign in</button>
  </form>
  </div>
 </p>
        <p>
        <h5>Don't have an account? </h5>
            <a href="./signup">Create an account</a>
        </p>
    </main>

</div>
</body>
